* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    padding: 50px;
}

h2 {
    color: #2A5E4E;
    font-size: 30px;
}

h3 {
    color: #2A5E4E;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: auto;
    padding: 30px; 
    border: 1px solid lightgrey;
    box-shadow: 0 2px 0 lightgrey;
    background-color: white;
}

.textfield {
    width: 100%;
    border-width: 1px;
    background-color: #F3F3F3;
    padding: 10px 12px;
    margin-top: 8px;
    border-radius: 4px;
}

button {
    background-color: #59A48D;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.tap {
    cursor: pointer;
}

/* MODAL */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    height: 18px;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



#change-password {
    cursor: pointer;
}

#close {
    cursor: pointer;
}